<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Script My Trade</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/pikaday.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/css/pikaday.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/{{ url_for('static', filename='assets/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='assets/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/android-chrome-512x512.png') }}">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <div class="content-container">
        <h1>Script My Trade</h1>
        <h2>Options Trade Plotting Tool</h2>
        <div class="container">
            <!-- Left input box for manual input -->
            <div class="input-box">
                <h2>Input Trades</h2>
                <input type="text" id="datePicker" placeholder="Date of trades">
                <textarea id="tsvInput" name="input_text" rows="4" cols="40" tabindex="1" onkeydown="handleTabKey(event)"></textarea>
                <br>
                <button class="button-primary" onclick="processInput()" tabindex="-1" contenteditable="false">Submit</button>
            </div>

            <!-- Right result box -->
            <div class="result-box">
                <button id="copy-button" class="copy-button" onclick="copyToClipboard()">
                    <span id="copy-icon" class="icon">&#x1F4CB;</span> <!-- Unicode for clipboard icon -->
                    <span id="copy-text">Copy</span>
                </button>
                <h2>Pine Cones</h2>
                <ul id="resultsList">
                    <!-- Results will be displayed here -->
                    {% if results %}
                    {% for result in results %}
                    <li>{{ result }}</li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>    
    </div>
    <script src="{{ url_for('static', filename='js/process_trading_data.js') }}"></script>
</body>
</html>

